src/main/mule/greatingto.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="20e9771c-7b19-4bb8-a88c-b4d1433d8fa4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="greatingtoFlow" doc:id="b114d802-c510-4a76-9933-65e117718c4a" >
		<http:listener doc:name="Listener" doc:id="44ee3530-68fd-48f1-9952-1de645353fdd" config-ref="HTTP_Listener_config" path="/hey"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e2dc9580-2111-4c0c-811f-726c6d4c4d7a" />
		<logger level="INFO" doc:name="Logger" doc:id="6bf3f68a-f566-4796-89b2-898a5772499e" message="#[payload]"/>
	</flow>
</mule>
